.body {
  margin: 0;
  font-family: Oswald, Lato;
  font-weight:500;
}


.main-bg {
    background-color: #faccfc;
}

.card {
    border: none;
    background-color: transparent;
}


/* Feedback */

h1 {
    text-align: center;
    padding: 3%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #050505;
}
  
label {
    padding:2%;
    flex: 0 0 30%;
}
  
input[type="text"], textarea {
    flex: 0 0 65%;
  }

button {
    width: 100%;
    padding: 10px;
    background-color: #dd2929;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.image-container {
    position: relative;
}

.sentence-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.sentence {
  text-align: center;
  padding: 2%;
  font-size: 2rem;
  font-style: italic;
  font-weight:bold;
  box-sizing: border-box;
}

.about-us h2 {
  align-items: center;
}

.about-us {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 10%;
}

.about-us img {
  max-width: 100%;
  margin: 30px 0;
  padding-bottom: 2%;
}

/* Menu-list */


#menu-list .row:nth-child(even) .col-md-6:first-child {
    order: 2;
  }
  
.row:nth-child(odd) .col-md-6:first-child {
    order: 1;
}

.card-body {
    padding: 1rem;
}

  
.card-header {
    background-color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
}
  

.card-header h2 {
    margin: 5%;
    font-size: 4em;
}

/* Reservation Create */

/* Reservation Edit */

/* Reservation list*/

.reservation-container {
  display: flex;
  flex-wrap: wrap;
  }
  
.reservation {
  border: 1px solid #0e0d0d;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  width: 300px;
  background-color: #fff;
  }
  
.reservation-details {
  margin-bottom: 10px;
}
  
.reservation-details p {
  margin: 5px 0;
}

.reservation-actions a {
  background-color: #310cd6;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
  }
  
.reservation-actions a:hover {
  background-color: #da1212;
  }

/*Reservation_delete*/

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  }

.btn-cancel {
  background-color: #22dd51;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 10px 20px;
}

.footer {
  background-color: white;
  margin-top: 10%;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .id_comments {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
    .logo-container img {
      max-width: 50%;
    }
  }

