{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <header class="p-3 text-black">
    <h1>Feedback Form</h1>
  </header>
  <div class="d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <p>If you have any inquiries please get in touch via the form below. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <form method="post" id="feedback-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-danger mt-3">Submit</button>
    </form>

    <div id="thank-you" class="d-none bg-danger text-white p-3 fixed-top text-center">
      Thank you for your feedback!
    </div>
  </div>

  <script>
  const form = document.querySelector('#feedback-form');
  const thankYou = document.querySelector('#thank-you');

  form.addEventListener('submit', (event) => {
    event.preventDefault();
    thankYou.classList.remove('d-none');
    setTimeout(() => {
      thankYou.classList.add('d-none');
      form.reset(); // reset the form after 3 seconds
    }, 3000); // 3000 milliseconds = 3 seconds
  });
  </script>
  {% endblock %}
    