{% extends 'base.html' %}


{% block content %}
<body>
  <header>    
    <div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img src="https://res.cloudinary.com/djbdldshh/image/upload/v1682097918/final-logo_jcmgby.jpg" class="img-fluid" alt="diner-exterior-shot">
      </div>
        <div class="sentence-container col-12">
          <p class="sentence">Winner of Best Burgers in the state 2022!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <img src="https://res.cloudinary.com/djbdldshh/image/upload/v1682096651/woman-in-diner_1_hrllsy.jpg" class="img-fluid" alt="about-us-image">
        </div>
        <div class="col-md-6">
          <h2 class="text-center"><b>About Us</b></h2>
          <p class="about-us">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec odio aliquet, lobortis velit vel, fringilla augue. Nullam aliquet ante et sapien malesuada, a faucibus ipsum tincidunt. Integer sed nunc vel odio consequat ultrices. Mauris a justo arcu. Aenean laoreet ultricies nibh, nec sagittis mi. Sed vel efficitur sapien, vel feugiat justo. Nullam lobortis magna sed nulla euismod venenatis. Duis scelerisque augue ac risus consectetur, vitae tincidunt orci maximus. </p>
        </div>
    </div>
  </div>
  </div>
  
</body>
{% endblock content %}