{% extends 'base.html' %}


{% block content %}
<body>
  <header>    
    <div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img src="https://res.cloudinary.com/djbdldshh/image/upload/v1682097918/final-logo_jcmgby.jpg" class="img-fluid" alt="diner-exterior-shot">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <p class="sentence">Winner of Best Burgers in Missouri 2022!</p>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6 mb-5 mt-5">
          <img src="https://res.cloudinary.com/djbdldshh/image/upload/v1682096651/woman-in-diner_1_hrllsy.jpg" class="img-fluid" alt="about-us-image">
        </div>
          <div class="col-md-6 mb-5 mt-5">
            <h2 class="text-center"><b>The History of Mr.D'z Route 66 Diner</b></h2>
            <p class="about-us text-center py-4">
            For sixty plus years Missourians, Truckers and Travelers alike have enjoyed the comforts of this little Diner. Each day we set out to provide the best meal possible, cooked to order, and served in a clean and friendly atmosphere. Whether you're just starting your day, or wrapping up a late night with a quick bite, we hope you find your Diner experience extraordinary. Our goal is to WOW you with Genuine Old School Service, All Star Value, and a Truly Delicious meal worthy of your patronage. Thank you for choosing a locally owned and operated establishment! We are proud of our community and our small part in its rich history. We believe in the premise of good food, and insightful conversation building a better community.
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock content %}