{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Reservation</title>
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center">
    <div class = "row">
      <div class="card p-4">
        <h1 class="text-center">Make a reservation</h1>
        {% if reservation_success %}
        <div class="alert alert-success mt-3" role="alert">
          Your reservation has been submitted successfully!
        </div>
          {% endif %}
          <form method="post" action="{% url 'reservation_create' %}" id="create-reservation-form" class="form-vertical" style="margin-bottom: 50px;">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-danger d-block mx-auto mt-3">Submit</button>
          </form>
        </div>
    </div>
  </div>
</body>
  {% endblock content %}