{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservation template</title>
</head>
<body>
    <form method="post"  action="{% url 'reservation_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>
<script>
  if (reservation) {
  const message = document.createElement("p");
  message.textContent = "Thank you for making a reservation with us! We look forward to seeing you soon.";
  document.body.appendChild(message);
}
</script>
  {% endblock content %}