{% extends 'base.html' %}

{% block content %}
<h1>Your Reservations</h1>
{% if reservations %}
  <div class="reservation-container">
    {% for reservation in reservations %}
      {% if reservation.user == request.user %}
        <div class="reservation">
          <div class="reservation-details">
            <p><strong>Name:</strong> {{ reservation.name }}</p>
            <p><strong>Number of Guests:</strong> {{ reservation.number_of_guests }}</p>
            <p><strong>Email:</strong> {{ reservation.email }}</p>
            <p><strong>Phone:</strong> {{ reservation.phone }}</p>
            <p><strong>Time:</strong> {{ reservation.reservation_time }}</p>
            <p><strong>Date:</strong> {{ reservation.reservation_date }}</p>
          </div>
          <div class="reservation-actions">
            <a href="{% url 'reservation_edit' reservation.id %}">Edit</a>
            <a href="{% url 'reservation_delete' reservation.id %}">Delete</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
<div class="d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center d-flex justify-content-center align-items-center">
        <p><b>You have no reservations!</b></p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
