{% extends 'base.html' %}

{% block content %}
  <h1>Your Reservations</h1>
  {% if reservations %}
    <ul>
      {% for reservation in reservations %}
        <li>{{ reservation.start_date }} - {{ reservation.end_date }}</li>
      {% endfor %}
    </ul>
  {% else %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <p>You have no reservations.</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}